#banner-image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg)no-repeat center center;
    background-size: cover;
}

#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.navbar-brand{
    font-size: 20px;
}

.logo-image{
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
    display: inline-block;
}

footer{
    position: fixed;
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100vw;
}

.footer-products{
    position: absolute;
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}

.row-style{
    margin-top: 20px;
}

#imgs{
    min-height: 170px;
}

.foot{
    position: absolute;
}

.title{
    position: absolute;
    top: 40%;
    bottom: 50%;
    font-family: sans-serif;
    
}
.fo{
    position: inherit;
    width: 100%;
}


 /* Contact */
 input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #377BB5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #85CA83;
  }

  .contact {
      padding: 30px;x
  }

  /* to be solved
  * {box-sizing: border-box;}

  .img-magnifier-container {
    position: relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
  }
  */